html    {
    scroll-behavior: smooth;
    height: 100%;
}

body    {
    padding: 0;  
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(45, 192, 250);
}

nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
}

nav ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li a {
    font-weight: 600;
    padding: 24px;
}

h2  {
    display: flex;
    justify-content: center;
    align-items: center;
}

a   {
    color: black;
}

table   {
    padding-left: 30px;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

td  {
    border: solid;
}

.gerade	{
    background-color: rgb(103, 217, 255);
}

.ungerade	{
    background-color: cyan;
}

.mitte  {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer  {
    background-color: black;
    color: white;
    padding-left: 45%;
    padding-top: 1px;
    padding-bottom: 3px;
}